<app-top-bar></app-top-bar>

<div class="container">
  <!-- esta etiqueta muestra todos los componentes hijos del component app -->
  <router-outlet></router-outlet>
  <h3>Enter</h3>
  <div>
    <app-click-me></app-click-me>
  </div>
  <h3>Key 2</h3>
  <div>
    <app-key-up2></app-key-up2>
  </div>
  <h3>Key 1</h3>
  <div>
    <app-keyup1></app-keyup1>
  </div>
  <h3>Loop back</h3>
  <div>
    <app-loop-back></app-loop-back>
  </div>
  <h3>Key 0</h3>
  <div>
    <app-keyup></app-keyup>
  </div>
  <h3>Enter</h3>
  <div> <app-key-up3></app-key-up3>
  </div>
  <h3>blur</h3>
  <div> <app-key-up4></app-key-up4>
  </div>
  <h3>Tour heroes</h3>
  <div> <app-little-tour></app-little-tour>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->